.web , .mobile {display: none;}
.tablet{display: block;}

header {
    position: fixed;
    width: 100%;
    background: rgb(220, 242, 255);
    box-shadow: 0 3px 2px 0 rgba(80,80,80, .5);
}
header > .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    background: d;
}
header>.center>.menu{
    position: relative;
    font-size: 0; line-height: 0;
    width: 30px; height: 3px;
    background: #000;
}


header>.center>.menu:before{
    content: "";
    position: absolute; left:0; top: -10px;
    width: 30px; height: 3px;
    background: #000;
}


header>.center>.menu:after{
    content: "";
    position: absolute;
    left: 0; bottom: -10px;       
    width: 30px; height: 3px;
    background: #000;
}

header > .center > h1 {
    width: 200px;
    height: 60px;
    background: rgb(192, 209, 255);
}
header > .center > nav {
    position: absolute;
    left: -230px; top: 0; z-index: 9999;
    width: 200px;
    background: rgb(183, 238, 255);
    transition: all .3s ease;
}

header > .center > nav>p.home{
    height: 50px; background: aqua;
}
header > .center > nav>p.close{
    position: absolute; right: -30px; top: 0;
    width: 30px; height: 30px;
    background: red;
}

header > .center > nav > ul {
min-height: 200px; /*최소 li 개수만큼의 크기를 지정*/
}

header > .center > nav > ul > li {
   /* flex: 0 0 auto;*/
   height: 50px;
}


header > .center>.curtain{
    position: absolute; width: 100vw; height: 100vh;
    background: rgba(0,0,0, .5);
}
header > .center > dl {
    overflow: hidden;
    width: 40px;
    height: 30px;
    background: rgb(224, 224, 255);
}

header > .center > dl > dd {
    height: 30px;
}



/* 이벤트란다 */
header>.center>.menu:active~nav{
    left: 0;
}