a{
    font-family: 'Gothic A1', sans-serif;}


footer{
    width: 100%;
    padding: 40px 70px;
    text-align: center;
    border-top: 1px solid #b3b3b3;
}
footer>ul{
    width: 40%;
    margin: 0 auto;
}
footer>ul>li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

footer>ul>li>a>p{
    font-size: 16px;
    color: #585858;
    padding: 0 20px;
    border-right: 1px solid #b3b3b3;
}

footer>ul>li>a>p:nth-child(4){
    border: none;
}

footer>ul>p{
    font-size: 12px;
    font-family: 'Gothic A1', sans-serif;
    color: #747474;
    padding-top: 10px;
}