a {
    text-decoration: none;
    font-family:'Noto Sans KR', sans-serif;
    color: #000;
}



main>.banner {

    width: 100%;
}


main>.banner>section.first {
    position: relative;
    width: 100%;
    height: 105rem;
    background: url(../illy_redesign/imgs/main_7.jpg) center/cover;

}

main>.banner>section.first>div {
    position: absolute;
    top: 28rem; left: 24rem;
}

main>.banner>section.first>div>p:nth-child(1) {
    font-family: 'Sansita', sans-serif;
    font-size: 5.5rem;
    font-weight: 600;
    color: #ff0000;
}

main>.banner>section.first>div>p:nth-child(2) {
    font-family: 'Sansita', sans-serif;
    font-size: 4.5rem;
    color: #ffffff;
    margin-top: 1rem;
}

main>.banner>section.first>div>p:nth-child(3) {
    font-size: 1.8rem;
    margin-top: 5rem;
    color: #dfdfdf;
}

main>.banner>section.first>div>button {

    border: none;
    color: #ffffff;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    margin-top: 8rem;
    padding: 1rem;
    width: 15rem;
    background-size: 300%;
    background-image: linear-gradient(to left,#ff7112,#fda400,#ee1818,#ac0000);
    transition: 1s;
}

main>.banner>section.first>div>button:hover{
    background-position: right;}


/*main>.banner>section.first>div>button {
    position: absolute;
    top: 60rem;
    left: 7rem;
    width: 150px;
    height: 40px;
    color: #fff;
    background: #D1231F;
    font-size: 16px;
    border: none;
    box-shadow: #4e0807;
    transition: 0.3s;
    transform: translate(-50%, -50%);
}

main>.banner>section.first>div>button:hover {
    background: #f17909;
    cursor: pointer;
    box-shadow: #4e0807;
}*/


/* 
---------------------------------------------------------------------------
                                2번째배너
---------------------------------------------------------------------------
*/

main>.banner>section.second {
    width: 100%;
    height: 100rem;
    background: url(../illy_redesign/imgs/cup_of_coffee.jpg) center 10% no-repeat;
    background-size: cover;
}

main>.banner>section.second>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 11rem;
    
    
}

main>.banner>section.second>div>p:nth-child(1) {
    position: relative;
    font-size: 6.5rem;
    font-weight: 550;
    color: #ffffff;
    margin-bottom: 2rem;
    background: #450f09;
    animation: text 3s 1;
}

main>.banner>section.second>div>p:nth-child(2) {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
    color: #ffffff;
    
}

@keyframes text {
    0%{
        color: white;
        margin-bottom: -6rem;
    }

    30%{
        letter-spacing: 1rem;
        margin-bottom: -6rem;
    }

    85%{
        margin-bottom: -6rem;
    }
}





/* 
---------------------------------------------------------------------------
                                3번째배너
---------------------------------------------------------------------------
*/

main>.banner>section.third {
    position: relative;
    width: 100%;
    height: 60rem;
    background-color: #333333;
}

main>.banner>section.third>div>div {
    position: absolute;
    top: 15rem; left:30rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}


main>.banner>section.third>div>div>p:nth-child(1) {
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.5rem;
    color: #ffffff;
}

main>.banner>section.third>div>div>p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: #ffffff;
    padding-top: 5rem;
}

main>.banner>section.third>.box {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

main>.banner>section.third>.box>.capsule>li {
    float: left;
    width: 37rem;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-right: 1px solid lightgray;
}

main>.banner>section.third>.box>.capsule>li>a {
    position: relative;
    display: block;
    width: 100%;
}

main>.banner>section.third>.box>.capsule>li>a>img:nth-child(1) {
    width: 40rem;
    height: 60rem;
}

main>.banner>section.third>.box>.capsule>li>a>img:nth-child(2) {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 40rem;
}

main>.banner>section.third>.box>.capsule>li>a>img:nth-child(3) {

    position: absolute;
    top: 4rem;
    right: -65%;
    width: 52rem;
}


main>.banner>section.third>.box>.capsule>li>a:hover>img:nth-child(2) {
    display: block;
}

main>.banner>section.third>.box>.capsule>li>a:hover>img:nth-child(3) {
    position: absolute;
    right: -40%;
    top: 4rem;
    transition: all 0.5s;
}


/* 
---------------------------------------------------------------------------
                                4번째배너
---------------------------------------------------------------------------
*/

main>.banner>section.four{

    overflow: hidden;
}

main>.banner>section.four>div{
    display: block;
    position: relative;
     height: 50rem;
     background-size: cover;
     background: url(../illy_redesign/imgs/capsule_machine.gif) center/cover ;
}

main>.banner>section.four>div>.machine>.text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10rem;
    width: 130rem;
    margin: 0 auto;
}

main>.banner>section.four>div>.machine>.text>P:nth-child(1){
    font-size: 5rem;
    font-weight: 550;
    line-height: 5.5rem;
    color: #333333;
}

main>.banner>section.four>div>.machine>.text>P:nth-child(2){
    font-size: 1.8rem;
    font-weight: 350;
    line-height: 2.5rem;
    color: #6b6b6b;
    padding-top: 2rem;
}

main>.banner>section.four>div>.machine>.text>button{
    border: none;
    color: #ffffff;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    margin-top: 8rem;
    padding: 1rem;
    width: 15rem;
    background-size: 300%;
    background-image: linear-gradient(to left,#0047b1,#0093e9,#ff8c08,#ec5e00);
    transition: 1s;
}
main>.banner>section.four>div>.machine>.text>button:hover{
    background-position: right;
}


/* 
---------------------------------------------------------------------------
                                5번째배너
---------------------------------------------------------------------------
*/

main>.banner>section.fifth{
   width: 100%;
    margin: 0 auto;
    height: 120rem;
    background-color: #eeeeee;
    
}

main>.banner>section.fifth>h1{
    color: #d9272e;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 10rem;
}

main>.banner>section.fifth>div{

    position: relative;  

}

main>.banner>section.fifth>div>ul.card{
    
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 28rem 18rem 28rem;
    
}


main>.banner>section.fifth>div>.card>li{
    position: relative;
    box-sizing:border-box;
    flex:0 0 25%;
    padding-top: 1rem;
}


/* ------------앞면------------- */
main>.banner>section.fifth>div>.card>li>div.front{
    margin: 2rem;
    width: 25rem;
    height: 38rem;
}
main>.banner>section.fifth>div>.card>li>div.front>a{
    position: relative;
    display: block;
    text-align:center;
}

main>.banner>section.fifth>div>.card>li>div.front>a>img:nth-child(1){
    width: 25rem;
    height: 38rem;
}

main>.banner>section.fifth>div>.card>li>div.front>a>img:nth-child(2){
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: calc(50% - 13rem); top: 6.5rem;
    
}





/* ------------뒷면------------- */

main>.banner>section.fifth>div>.card>li>div.back{
    
    position: absolute;
    top: 1rem; left: 0;
    margin: 2rem;
    width: 25rem;
    height: 38rem;
    background-image: linear-gradient(#8a000b,#000000);
    transition: all .6s ease;
    text-align: center;
    opacity:0;
    cursor:pointer;

}

main>.banner>section.fifth>div>.card>li>div.back>p:nth-child(1){
   font-size: 1.6rem;
   line-height: 2.2rem;
   padding: 7rem 3rem 0 2rem; 
   color: #ffffff;
    
}

main>.banner>section.fifth>div>.card>li>div.back>p:nth-child(2){
    font-size: 2.2rem;
    font-weight: 600;
    padding: 6rem 3rem 5rem 2rem;
     color: #ffffff;
 }


 main>.banner>section.fifth>div>.card>li>div.back>div.icon>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    height: 10rem;
    margin: 0 auto;
    
 }

 main>.banner>section.fifth>div>.card>li>div.back>div.icon>a>img{
    width: 4rem;
    height: 4rem;
    background:#000000;
    border-radius: 50%;
    
 }

 main>.banner>section.fifth>div>.card>li>div.back>div.icon>a>img:hover{
     background: #ff0008;
     color: white;
     transition: 0.5s;
 }


 main>.banner>section.fifth>div>.card>li:hover>div.back{
     opacity:0.85;
 }


 /* 
---------------------------------------------------------------------------
                                6번째배너
---------------------------------------------------------------------------
*/

main>.banner>section.sixth{
    position: relative;
    width: 100%;
    height: 50rem;
    background: url(../illy_redesign/imgs/esec_bg_2.jpg) center 50% no-repeat;
    background-size: cover;

}

main>.banner>section.sixth>div {
    position: absolute;
    top: 10rem; left:30rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}


main>.banner>section.sixth>div>p:nth-child(1) {
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.5rem;
    letter-spacing: -0.1rem;
    color:#23516b;
}

main>.banner>section.sixth>div>p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    color:#356e8f;
    padding-top: 1rem;
}

main>.banner>section.sixth>div>button{
    border: none;
    color: #ffffff;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    margin-top: 7rem;
    padding: 1rem;
    width: 15rem;
    background-size: 300%;
    background-image: linear-gradient(to left,#16700a,#339b25,#33a5c7,#23516b);
    transition: 1s;
}
main>.banner>section.sixth>div>button:hover{
    background-position: right;
}