html {
    font-size: 62.5%;
    scroll-behavior:smooth;
}

a {
    text-decoration: none;
    font-family:'Noto Sans KR', sans-serif;
    color: #000;
}

header{
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
    transition: 0.6s;
    z-index: 99999;
}

header.sticky{
    padding: 1rem 0;
    background: #ffffff;;
}
.header{
    width: 100rem;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header>.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>.logo>a>img{
    width: 4rem;
    height: 4rem;
}


nav{
    display: flex;
    width: 80rem;
}


nav>.menu_1{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    margin: 0 10rem;
}

nav>.menu_1>li{
    position: relative;
    
}

nav>.menu_1>li>a{
    display: block;
    line-height: 6.8rem;
    font-weight: 600;
    font-size: 1.7rem;
    font-family: 'Sansita', sans-serif;
    color: #ffffff;
}



header.sticky>.header>nav>.menu_1>li>a{
    color: #000000;
}


.menu_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.menu_2>a{
    display: block;
    font-family: 'Sansita', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: #ff9f0f;
}

header.sticky>.header>.menu_2>a{
    color: #ff7b00;
}


/*
---------------------------------------------------------------------------
                                sub menu
---------------------------------------------------------------------------

*/


.header>nav>.menu_1>li>.sub_menu{
    display: none;
   position: absolute;
   top: 9rem;
   width: 16.5rem;
   height: 8rem;
   z-index: 9999;
}


 .header>nav>.menu_1>li>.sub_menu>li>a{
    display: none;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }


  

  .header>nav>.black{
      display: none;
      position: absolute;
      top: 10rem; right: 0;
      width: 100%;
      margin: 0 auto;
      height: 15rem;
      background: #000000;
      opacity: 0.3;
  }




/*
---------------------------------------------------------------------------
                                event
---------------------------------------------------------------------------
*/

.header>nav>.menu_1:hover>li>.sub_menu>li>a{
    display: block;
}

nav>.menu_1>li:hover>a{
    border-bottom: 3px solid #ee1511;;
}

.header>nav>.menu_1>li>.sub_menu>li>a:hover{
    color:#ee1511;
    font-size: 1.7rem;
    font-weight: 800;
    transition: 0.3s;
  }

header>.header>nav:hover>ul>li>ul.sub_menu{
    display: block; 
}
header>.header>nav:hover>.black{
    display: block;
    top: 10rem;
}

header.sticky>.header>nav:hover>.black{
    display: block;
    background: #000000;
    opacity: 0.7;
    top: 7.1rem;
}