html{font-size: 62.5%}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: #fff;
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 0.9rem;
}


main {
    flex: 1 0 auto;
    display: flex;
}

main>aside.mobile{
    display: none;
}

aside i[class^="xi"]{
    font-size: 1rem;
}

main>.mobile.content{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;
}


main>.mobile>.headbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(83, 81, 62);
    padding: 3.8rem 0;
    min-height: 23rem;

}

main>.mobile>.headbox>img{
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 15rem;
}

.music>.playname>p:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(255, 254, 248);
    padding-top: 2rem;
}

.music{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}

.music>.playname>p:nth-of-type(2){
   display: none;
}

.music>.playname>p:nth-of-type(3){
    display: none;
}

.music>.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 2rem;
    width: 22rem;
}

.music>.controls>li{
    display: flex;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: rgb(255, 254, 248);
}


.musiclist{
    width: 100%;
}

.musiclist>li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
    height: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.musiclist>li>p{
    flex: 0 0 auto%;
}

.musiclist>li:nth-of-type(1n){
    
    align-items: center;
    backgroufnd:  rgb(255, 254, 243);
} 

.musiclist>li:nth-of-type(2n){
    align-items: center;
    background: rgb(238, 235, 213);
}

.musiclist>li>.mobile{
    display: none;
}
 

/* ------------------- footer -------------------  */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0 0 6rem;
    padding: 1rem;
    background:rgb(223, 218, 189);
}
footer>div.footer_left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.footer_left>.mobile{
   display: none;
}


.footer_left>div>p{
    font-size: 1.3rem;
    padding: 0.8rem;
}

.footer_right{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
}
.footer_right>i{
    font-size: 1.5rem;
    flex: 0 0 40%;
}


.footer_right>i:nth-of-type(4){
 display: none;
}
/* .footerbox>.miniplay> */
