html{font-size: 62.5%}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: #fff;
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 0.9rem;
}


main {
    flex: 1 0 auto;
    display: flex;
}

main>aside{
    flex: 0 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:  rgb(255, 254, 247);
}

aside i[class^="xi"]{
    font-size: 1rem;
}

main>.content{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;
    min-height: 32rem;
}


main>.content>.headbox{
    display: flex;
    background-color:rgb(83, 81, 62);
    padding: 4rem;

}

main>.content>.headbox>img
{width: 25rem;
height: 25rem;}

main>.content>.headbox>.music{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

.music>.playname>p:nth-of-type(1){
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(255, 254, 248);
}


.music>.playname>p:nth-of-type(2){
    font-size: 1.4rem;
    padding-top: 2rem;
    color: rgb(255, 254, 248);
}

.music>.playname>p:nth-of-type(3){
    font-size: 1.4rem;
    color:rgb(255, 254, 248);
}

.music>.controls{
    display: flex;
    width: 25rem;
    justify-content: space-between;
    margin-top: auto;
}

.music>.controls>li{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: rgb(255, 254, 248);
}


.musiclist{
    width: 100%;
}

.musiclist>li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
    height: 5rem;
}

.musiclist>li>p{
    flex: 0 0 25%;
}

.musiclist>li:nth-of-type(1n){
    padding-left: 4rem;
    align-items: center;
    background:  rgb(255, 254, 243);
}

.musiclist>li:nth-of-type(2n){
    align-items: center;
    background: rgb(238, 235, 213);
}

.musiclist>li>p:nth-of-type(4){
    
    font-size: 0.8rem;
}
.musiclist>li>p:nth-of-type(4)>span{
    display: inline-block;
    border: 1px solid rgb(70, 63, 2);
    padding: 0.3rem;
}

/* ------------------- footer -------------------  */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0 0 9rem;
    padding: 1rem;
    background:rgb(223, 218, 189);
}
footer>div.footer_left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.footer_left>img{
    width: 9rem;
    height: 9rem;
}


.footer_left>div>p{
    font-size: 1.8rem;
    padding: 1rem;
}

.footer_right{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.footer_right>i{
    font-size: 1.8rem;
    flex: 0 0 25%;
}
/* .footerbox>.miniplay> */
