.mobile, .tablet {display: none;}
.web{display: block;}

header {
    position: fixed;
    width: 100%;
    background: rgb(220, 242, 255);
    box-shadow: 0 3px 2px 0 rgba(80,80,80, .5);
}
header > .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 999px;
    height: 80px;
}


header > .center > h1 {
    width: 200px;
    height: 80px;
    background: rgb(192, 209, 255);
}
header > .center > nav {
    width: 600px;
    height: 30px;
    background: rgb(183, 238, 255);
}

header > .center > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .center > nav > ul > li {
    flex: 0 0 auto;
}

header > .center > dl {
    overflow: hidden;
    width: 40px;
    height: 30px;
    background: rgb(224, 224, 255);
}

header > .center > dl > dd {
    height: 30px;
}