.mobile,
.web {
    display: none;
}
.tablet {
    display: block;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: lightslategray;
    box-shadow: 0 3px 2px 0 rgba(80,80,80, .5);
}

header > .header01 {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header01 > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    background: navy;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.header01 > nav {
    position: absolute;
    top: 0; left: -205px;
    width: 175px;
    height: 190px;
    background: lavender;
    transition: all .3s ease;
}
.header01 > nav>p.home{
    height: 30px;
    background-color: cornflowerblue;
}
.header01 > nav>p.close{
    position:absolute;
    top: 0; right: -30px;
    width: 30px; height: 30px;
    background-color: burlywood;
}
.header01 > nav > ul {
    min-height: 250px;
    
}

.header01 > nav > ul > li {
    height: 30px;
}
.header01 > nav > ul > li > a {
    font-size: 12px;
}
.header01 > p:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 2px;
    background: #fff;
}

.header01 > p {
    position: relative;
    margin-left: 15px;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 2px;
    background: #fff;
}

.header01 > p:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 2px;
    background: #fff;
}

.header01 > .curtain {
    display: none;
}

.header01 > dl {
    overflow: hidden;
    width: 60px;
    height: 60px;
    background: rgb(136, 170, 214);
}

.header01 > dl > dd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: ghostwhite;
}

/*이벤트하기싫어*/

.header01>.menu:active~nav{
    left: 0;
}