ul {
   display: flex;
    margin:0 auto;
    max-width:1200px ;
}

ul > li {
    flex: 1 1 25%;
    position: relative;
    line-height: 0;
    font-size: 0;
}

ul > li > a {
    display: block;
}

ul > li > a > img {
    width: 100%;
}

ul > li > a > img:first-child {

}

ul > li > a > img:nth-child(2) {
    position: absolute;
    opacity: 0;
    left: 0; top 0;

}

ul > li > a > img:nth-child(3) {
    position: absolute;
    right: -26px; bottom:0;
    width: 78%;
    transition: all .3s ease;
}

/*이벤트*/

ul > li:hover > a > img:nth-child(2){
    opacity: 1;
}
ul > li:hover > a > img:nth-child(3){
    right: 0;
}