a{
    font-family: 'Gothic A1', sans-serif;}

header {
    background: #cfcfcf;
    height: 70px;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>a>img{
    height: 30px;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul>li>a{
    font-family: 'Nanum Myeongjo', serif;
}

.submenu{
    display: none;
}