
html, body{
  height: 100%;
}
#fp-nav.right{
    right: 5%;

}


#fp-nav ul li a{
    margin-left: 10px;
}

#fp-nav ul li a span{
    background: #fff;
}


/*
---------------------------------------------------------------------------
                                 첫번째배너
---------------------------------------------------------------------------

*/

.s1{
    position: relative;
   background-image: url(imgs/main_7.jpg);
   background-size: cover;
}


.banner_text{
  position: absolute;
 top: 38%;
  left: 16%;
}


.banner_text>p:nth-child(1){
  color: rgb(236, 236, 236);
  font-size: 26px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.banner_text>p:nth-child(2){
    color: #ffffff;
    font-size: 58px;
    margin-top: 14px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-shadow: 1px 1px 6px #7a7a7a;


}
.banner_text>p:nth-child(3){
    color: rgb(228, 228, 228);
    font-size: 17px;
    line-height: 25px;
    margin-top: 40px;
    font-family:'Noto Sans KR', sans-serif;
}



.banner_text>p:nth-child(4){
    color: rgb(218, 218, 218);
    font-size: 13px;
    margin-top: 12px;
    letter-spacing: 10px;
    font-family:'Noto Sans KR', sans-serif;
}

/*----------------------왼쪽배너------------------------*/

.side_nav{
  
position: absolute;
    bottom: 50px;
    left: 5%;
}

.side_nav>.text{
   position: absolute;
   left: 15px; top: -20px;
    color: rgb(245, 245, 245);
    transform: rotate(-90deg);
    transform-origin: left bottom;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-top: 5px;

}

.side_nav>.num{

    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
}

.side_nav>.num::before{
    display: block;
    content: "";
    position: relative;
    margin: 15px auto 15px;
    width: 1px;
    height: 30px;
    background: #fff;
    
}
/*----------------------하단스크롤------------------------*/
.scroll{
    position: absolute;
    margin: 0 auto;
    left: 49%;
    bottom: 45px;
    width: 42px;
    height: 35px;
    background: none;
    border: none;
}

.scroll::before{
    z-index: 1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(imgs/scroll.png) repeat 0 0 ;
    animation: light 1s infinite ;
}

.scroll::after{
    z-index: 2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(imgs/scroll.png) repeat 42px 0 ;
    animation: light2 1s infinite;
}

@keyframes light {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes light2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


/*
---------------------------------------------------------------------------
                                 두번째배너
---------------------------------------------------------------------------
*/
.s2{
    background-image: url(imgs/introduction05.jpg);
    background-size: cover;
 }


 .banner_text02{
width: 100%;
margin: 0 auto;
text-align: center;

}


.banner_text02>p:nth-child(1){
    color: #ffffff;
    font-size: 55px;
    margin-top: 14px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-shadow: 1px 1px 6px #7a7a7a;
    padding: 0 50px;

}
.banner_text02>p:nth-child(2){
    color: rgb(219, 219, 219);
    font-size: 17px;
    line-height: 25px;
    margin-top: 40px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 100;
    padding: 0 70px;
}

.banner_text02>button{
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    margin-top: 8rem;
    padding: 1rem;
    width: 14rem;
    background-size: 300%;
    background-image: linear-gradient(to left,#f56a0d,#ec9a00,#ff2828,#b60000);
    transition: 1s;
}

.banner_text02>button:hover{
  background-position: right;
}

 /*
---------------------------------------------------------------------------
                              세번째배너:product
---------------------------------------------------------------------------
*/
.s3{
  background: rgb(241, 241, 241);
}

.banner_text03{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.banner_text03>p:nth-child(1){
 font-size: 45px;
 font-family: 'Playfair Display', serif;
 font-style: italic;
 font-weight: 600;
 line-height: 60px;
 color: #222222;
 margin-bottom: 12px;
}

.banner_text03>p:nth-child(2){
  font-size: 18px;
  line-height: 25px;
  font-family:'Noto Sans KR', sans-serif;
  color: #363636;
  margin-bottom: 40px;
  padding: 0 60px;
  
 }

 /*----------------------이미지박스------------------------*/

.container>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  
}

.container>ul>li{
  display: flex;
  justify-content: space-between;
  width: 290px;
  border: 1px solid #9c9c9c;
  margin: 10px 0;
  
}

.container>ul>li:hover{
  
  border: 1px solid #ce0000;
}

.container>ul>li>a>.imagebox{
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 534px;
  overflow: hidden;

 }

.container>ul>li>a>.imagebox>img{
 transition: transform 1s;
}

.container>ul>li>a>.imagebox:hover>img{
  transform:scale(1.2);
}
.container>ul>li>a>.textbox{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.container>ul>li>a>.textbox>p{
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}

.container>ul>li:hover>a>.textbox>p{
  color: #ce0000;
}

.container>ul>li>a>.textbox>.plus{
  display: inline-block;
  font-size: 20px;
  
}

/*----------------------왼쪽배너------------------------*/
.side_nav03{
  position: absolute;
  bottom: 45px;
  left: 5%;
}

.side_nav03>.text{
  position: absolute;
  left: 15px; top: -20px;
   color: #222222;
   transform: rotate(-90deg);
   transform-origin: left bottom;
   font-family: 'Playfair Display', serif;
   font-style: italic;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 3px;

}

.side_nav03>.num{

  color: #222222;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

.side_nav03>.num::before{
  display: block;
  content: "";
  position: relative;
  margin: 15px auto 15px;
  width: 1px;
  height: 30px;
  background: #222222;
}


/*----------------------하단스크롤------------------------*/

.scroll_gray{
  position: absolute;
  margin: 0 auto;
  left: 49%;
  bottom: 45px;
  width: 42px;
  height: 35px;
  background: none;
  border: none;
}

.scroll_gray::before{
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(imgs/scroll_gray.png) repeat 0 0 ;
  animation: light 1s infinite ;
}

.scroll_gray::after{
  z-index: 2;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(imgs/scroll_gray.png) repeat 42px 0 ;
  animation: light2 1s infinite;
}

@keyframes light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes light2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
---------------------------------------------------------------------------
                                 네번째배너
---------------------------------------------------------------------------
*/

.s4{
  position: relative;
  background-image: url(imgs/whatsyours10.jpg);
    background-size: cover;
}


.banner_text04{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 300px;
  }
  
  
  .banner_text04>p:nth-child(1){
      color: #ffffff;
      font-size: 58px;
      margin-top: 14px;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      text-shadow: 1px 1px 4px #7a7a7a;
  
  
  }
  .banner_text04>p:nth-child(2){
      color: rgb(255, 255, 255);
      font-size: 18px;
      line-height: 25px;
      margin-top: 30px;
      font-family:'Noto Sans KR', sans-serif;
      font-weight: 100;
      padding: 0 60px;
  }
  
  .banner_text04>button{
      border: none;
      color: #ffffff;
      font-size: 1.5rem;
      border-radius: 0.2rem;
      margin-top: 5rem;
      padding: 1rem;
      width: 14rem;
      background-size: 300%;
      background-image: linear-gradient(to left,#f56a0d,#ec9a00,#ff2828,#b60000);
      transition: 1s;
  }
  
  .banner_text04>button:hover{
    background-position: right;
  }

  /*
---------------------------------------------------------------------------
                                 마지막
---------------------------------------------------------------------------
*/

.s5{
  background-image: url(imgs/last01.jpg);
    background-size: cover;
}


/*----------------------공지사항------------------------*/

.notice{
  width: 70%;
  margin: 0 auto;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
  padding: 0 20px;
}

.title>.main_title{
  font-size: 30px;
  color: #fff;
  font-family:'Noto Sans KR', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 5px;
}


.title>.read_more>a{
  font-size: 20px;
  color: #fff;
  font-family:'Noto Sans KR', sans-serif;
}

.title>.read_more>a:hover{
  color:#ce0000;
}


.noticebox>ul>li>a{
  display: flex;
  justify-content: space-between;
  padding: 24px ;
  border-bottom: 0.5px solid rgb(228, 228, 228);
  
}


.noticebox>ul>li>a>p{
  font-size: 17px;
  color: rgb(204, 204, 204);
  font-family:'Noto Sans KR', sans-serif;
  
}

.noticebox>ul>li>a:hover>p{
  
  color: #ffffff;

  
}

.utilebox>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  80px 0 80px 0;
}
.utilebox>ul>li{
  border: 1px solid #fff;
  transition: 0.3s;
}

.utilebox>ul>li:hover{
  border: 1px solid #ce0000;
  background: #ce0000;
  opacity: 0.8;
}
.utilebox>ul>li>a{
  display: block;
  font-size: 17px;
  color: #fff;
  font-family:'Noto Sans KR', sans-serif;
  padding: 20px 150px;
  
}





/*
---------------------------------------------------------------------------
                                footer
---------------------------------------------------------------------------
*/

.footer{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;    
  background-color: #222222;
  padding: 40px 0;
}


.footer>.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}
.footer>.top>.box_3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  padding-bottom: 15px;

}

.footer>.top>.box_3>p>a{
  display: block;
  color: #ececec;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  width: 15rem;
  height: 1.5rem;
  background: #313131;
  transition: 0.3s;
}

.footer>.top>.box_3>p>a:hover{
  background:#ce0000;
}
.footer>.top>.top_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding-bottom: 15px;
}



.footer>.top>.top_right>.sns>ul>li>a>img{
  width: 35px;
  height: 35px;
  background: #313131;
  margin: 0 7px 0 0;
  transition: 0.3s;
}

.footer>.top>.top_right>.sns>ul>li>a>img:hover{
  background:#ce0000;
}

.footer>.top>.top_right>.payment>ul>li>a>img{
  width: 5rem;
  height: 3.5rem;
}


.footer>.line{
  margin: 0 auto;
  width: 135rem;
  height: 0.1rem;
  background: rgb(169, 169, 169);
  margin-top: 2rem;
}


.footer>.bottom{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer>.bottom>p{
  color: #858585;
  font-size: 12px;
  line-height: 18px;
  margin-top: 20px;
  font-family:'Noto Sans KR', sans-serif;
  
}

.top_btn{
  position: absolute;
  right: 4%;
  bottom: 32%;
  border: none;
  padding: 7px;
  background: #8b8b8b;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.top_btn:hover{
  background:#ce0000;
}

.top_btn>a{
  color: #ffffff;
  font-size: 12px;
}