
/*
---------------------------------------------------------------------------
                                브랜드_스토리
---------------------------------------------------------------------------
*/

.element01{
    position: absolute;
    left: 15%;
    top: 58%;
}

.element01>p:nth-child(1){
    font-size: 85px;
    margin-bottom: 27px;
    color:#ffffff;
    text-shadow: 1px 1px 5px #757575;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}

.element01>p:nth-child(2){
    font-size: 22px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #757575;
    font-family: 'Playfair Display', serif;
}

.banner{
    position: relative;
    width: 100%;
    background: url(imgs/brand.jpg) no-repeat center/cover;
    height: 470px;
}

.s1{
    padding: 150px 0;
}

.element02{
    margin: 0 auto;
}
.element02>p:nth-child(1){
    font-size: 38px;
    text-align: center;
    line-height: 60px;
    color: #332e2c;
    font-family:'Noto Sans KR', sans-serif;
    padding: 0 50px 0 50px;
}

.element02>p:nth-child(2){
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #645954;
    font-family:'Noto Sans KR', sans-serif;
    margin-top: 17px;
    padding: 0 50px 0 50px;
}

.element03{
    margin-top: 70px;
}
.element03>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}
.element03>ul>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 290px;
    padding: 20px 0 ;
    
}
.element03>ul>li>.name{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    color: #8a6e60;
    font-family:'Noto Sans KR', sans-serif;
    margin-top: 30px;
}

.element03>ul>li>p{
    width: 280px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    color: #5a504b;
    font-family:'Noto Sans KR', sans-serif;
    margin-top: 20px;
}




/*
---------------------------------------------------------------------------
                                브랜드_히스토리
---------------------------------------------------------------------------
*/
.s2{
   background: #F7F5F3;
    padding: 150px 0;
}

.history>.title{
    text-align: center;
}
.history>.title>p:nth-child(1){
    font-size: 52px;
 font-family: 'Playfair Display', serif;
 font-style: italic;
 font-weight: 600;
 line-height: 60px;
 color:#2b2625;
 margin-bottom: 40px;
}

.history>.title>p:nth-child(2){
    font-size: 18px;
    line-height: 25px;
    color:  #363636;
    font-family:'Noto Sans KR', sans-serif;
    padding: 0 50px 0 50px;
}

/*----------------------history_nav-----------------------*/

.history_nav{
    padding: 60px;
}
.history_nav>ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width:360px; 
    padding: 10px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid  #dbdbdb;
}

.history_nav>ul>li{
    flex:0 0 auto;
   
}

.history_nav>ul>li>a{
    font-size: 20px;
    color:  #202020;
    width: 80px;
    font-family:'Noto Sans KR', sans-serif; 
  
}


.history_nav>ul>li>a:hover,
.history_nav>ul>li.active>a{
    color:  #e60000;
    padding: 6px 0 6px 0;
    border-top: 2px solid  #e60000;
    border-bottom: 2px solid  #e60000;
}

/*----------------------history 내용-----------------------*/
.section_history{
position: relative;
  width: 70%;
  margin: 0 auto;
}

.section_history>li{
    position: absolute;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

/* tabs-panel 공통사항 */
.tabs-panel{
    display: none;
}

.tabs-panel.active>ul{
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 1s all cubic-bezier(.41,-0.24,.13,.71) .1s;
    transform: translateY(-10px);
}

.tabs-panel.active{
    display: block;
}
.tabs-panel.active>ul.active{
    
    opacity: 1;
    transform: translateY(0px);
}


.tabs-panel>ul>li{
    width: 370px;
    height: 420px;
   
}


.tabs-panel>ul>li>.year{
    font-size: 25px;
    line-height: 35px;
    color:  #202020;
    font-family:'Noto Sans KR', sans-serif;
    margin-top: 5px;
}

.tabs-panel>ul>li>.contents{
    font-size: 12.5px;
    line-height: 18px;
    color: #616161;
    font-family:'Noto Sans KR', sans-serif;
    margin-top: 10px;
}

/*
---------------------------------------------------------------------------
                                브랜드_퀄리티
---------------------------------------------------------------------------
*/

.s3{
    display: block;
    background: #ffffff;
    padding: 130px 0 145px 0;
 }

.quality>.title_q{
    text-align: center;
}
.quality>.title_q>p:nth-child(1){
font-size: 52px;
 font-family: 'Playfair Display', serif;
 font-style: italic;
 font-weight: 600;
 line-height: 60px;
 color:#2b2625;
 margin-bottom: 40px;
}

.quality>.title_q>p:nth-child(2){
    font-size: 18px;
    line-height: 25px;
    color:  #363636;
    font-family:'Noto Sans KR', sans-serif;
    padding: 0 50px 0 50px;
}

.award{
    position: relative;
      width: 75%;
      margin: 0 auto;
}

.award>ul{
 display: flex;
 justify-content: space-between;
    width: 100%;
 flex-wrap: wrap;
 margin-top: 30px;
}

.award>ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    width: 600px;
}

.award>ul>li>.award_text{
    margin-left: 20px;
   
}

.award>ul>li>.award_text>.award_name{
    font-size: 25px;
    line-height: 35px;
    color: #592911;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}


.award>ul>li>.award_text>.contents{

    font-size: 12.5px;
    line-height: 18px;
    color: #616161;
    font-family:'Noto Sans KR', sans-serif;
    margin-top: 10px;
}

/*
---------------------------------------------------------------------------
                                footer
---------------------------------------------------------------------------
*/

.footer{
    width: 100%;    
    background-color: #222222;
    padding: 40px 0;
  }

  
  .footer>.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }
  .footer>.top>.box_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    padding-bottom: 15px;
  
  }
  
  .footer>.top>.box_3>p>a{
    display: block;
    color: #ececec;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    width: 15rem;
    height: 1.5rem;
    background: #313131;
    transition: 0.3s;
  }
  
  .footer>.top>.box_3>p>a:hover{
    background:#ce0000;
  }
  .footer>.top>.top_right{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      padding-bottom: 15px;
  }
  

  
  .footer>.top>.top_right>.sns>ul>li>a>img{
    width: 35px;
    height: 35px;
    background: #313131;
    margin: 0 7px 0 0;
    transition: 0.3s;
  }
  
  .footer>.top>.top_right>.sns>ul>li>a>img:hover{
    background:#ce0000;
  }
 
  .footer>.top>.top_right>.payment>ul>li>a>img{
    width: 5rem;
    height: 3.5rem;
  }
  
  
  .footer>.line{
    margin: 0 auto;
    width: 135rem;
    height: 0.1rem;
    background: rgb(169, 169, 169);
    margin-top: 2rem;
  }
  
  
  .footer>.bottom{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer>.bottom>p{
    color: #858585;
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    font-family:'Noto Sans KR', sans-serif;
    
  }
  
  .top_btn{
    position: absolute;
    right: 4%;
    bottom: 32%;
    border: none;
    padding: 7px;
    background: #8b8b8b;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }
  
  .top_btn:hover{
    background:#ce0000;
  }
  
  .top_btn>a{
    color: #ffffff;
    font-size: 12px;
  }