html {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body > .back {
    position: relative;
    width: 100%;
    height: 13.2rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.15);
}


body {

    height: 0.3rem;
    background: linear-gradient(90deg, #64a7a0,#3aacd2,#829a8e 15rem, #f0a234 28.6rem, #85b644 43.8rem,#b2974b 54.3rem,#64a7a0) repeat-x 0 8.1rem/80.5rem 0.3rem,
    
    linear-gradient(180deg, #fefefe ,#f8f8f8 4.7rem, #bdbdbd 4.7rem, #e4eae5 5rem, #eaf1eb 5rem, #fff) repeat-x 0 8.4rem/0.1rem 20.5rem;
}


header {
    margin: 0 auto;
    width: 120rem;
}


header >.header {
    position: absolute;
    top: 0;
    width: 120rem;
    height: 8.4rem;
}

header > div > h1 {
    float: left;
    margin: 1.5rem 19.6rem 0 0.5rem;
}

header > div > form {
      float:left;

    margin-top:2rem;

    width:33.6rem; height:3.9rem;

    /*background:url(../imgs/search_bg.gif) no-repeat 0 0;*/
}

header > div > form > input[type^="s"] {
    float:left;

    /*margin:0.9rem 0 0 1.2rem;

    width:25.8rem; height:2.2rem;

    border:0 none;*/

    box-sizing:border-box;

    width:28.4rem; height:3.9rem;

    border:.2rem solid #00407d; border-right:0 none;

    border-radius:0.5rem 0 0 0.5rem;

    box-shadow:0.1rem 0.2rem 0.1rem rgba(190,190,190, .5) inset;
}

header > div > form > input[type^="i"] {
    float: right;
}

header > div > dl {
    float: right;
    margin-top: 3.5rem;
    font: 1.2rem/1.2rem "맑은 고딕", "돋움", sans-serif;
}

header > div > dl > dd {
    float: left;
    margin: 0 1.5rem;
    position: relative;
}

header > div > dl > dd:not(:last-child):after {
    position: absolute;
    content: "";
    right: -1.5rem;
    height: 1.1rem;
    border-left: 0.1rem solid #c9c9c9;

}

header > nav {
    position: absolute;
    top: 0; left: 5rem;
    height: 4.7rem;
}

header > nav > ul {
    
    height: 4.6rem;
}

header > nav > ul > li {
     
    position: absolute;
    top: 8.5rem; left: 41.6rem;
    
    margin-top: 0.1rem;

}

header > nav > ul > li > a {
    display: flex;
    width: 104.1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 4.6rem;
    border-left: 0.1rem solid #e2e2e2;
    color: #444444;
}

header > nav > ul > li:last-child {
    height: 4.6rem;
    border-right: 0.1rem solid #e2e2e2;
}

header > nav > ul > li > ul {
    display: none;
    position: absolute;
    left: -0.1rem;
    top: 4.9rem;
    width: calc(100% - 1.6rem);
    height: 18.4rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    line-height: 2.4rem;
    background: #ffffff;
    border-left: 0.1rem solid #e2e2e2;
    border-bottom: 3px solid #098200;

}

header > nav > ul > li:last-child > ul {
    border-right: 0.1rem solid #e2e2e2;
}

header > nav > ul > li > ul > li {}

header > nav > ul > li > ul > li > a {
    color: #444444;
}

/* ------------헤더 끝-------------*/


header > nav > ul > li > ul > li:hover > a {
    color: #efa300;
}

header > nav > ul > li > a:hover {
    color: #efa300;
}

header > nav > ul:hover > li > ul {
    z-index: 9999;
    display: block;
}

header > nav > ul > li:hover > ul {
    background: #fffeee;

}