main {
    margin: 0 auto;
    width: 108rem;
    margin-top: 1.5rem;
}

main > div.main_top {

    overflow: hidden;

}

a {
    text-decoration: none;
    color: #444444;
    font-family: nanum, "돋움", Dotum, AppleGothic, sans-serif;
    letter-spacing: -0.5px;
}

/*메인 작은배너 공통사항--------------------*/



main > div.main_top > section {
    width: 27rem;
}

main > div.main_top > section.left {
    float: left;
    margin: ;
    padding: ;
    width: 27rem;

}


main > div.main_top dl {

    padding: 2.2rem 0 0 9.8rem;
    width: 17.2rem;
    height: 8.9rem;

}


main > div.main_top dt {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 800;
}

main > div.main_top dd {

    font-size: 1.1rem;
    line-height: 2rem;
}



/*메인 상단왼쪽배너 개별사항--------------------*/



main > div.main_top > section.left > dl:nth-of-type(1) {
    background: url(../imgs/m_box_bg01.gif) no-repeat 0 0;
}

main > div.main_top > section.left > dl:nth-of-type(2) {

    background: url(../imgs/m_box_bg02.gif) no-repeat 0 0;

}


main > div.main_top > section.left > dl:nth-of-type(3) {
    background: url(../imgs/m_box_bg03.gif) no-repeat 0 0;
}

main > div.main_top > section.left > dl:nth-of-type(4) {
    background: url(../imgs/m_box_bg04.gif) no-repeat 0 0;
}



/*메인 어사이드 개별사항--------------------*/

main > div.main_top aside {
    position: relative;
    float: left;
    width: 43.2rem;
    height: 43.2rem;
    margin: 0 1.4rem;
}

main > div.main_top > aside ul.b_banner {
    position: relative;
}

main > div.main_top > aside ul.b_banner > li {
    position: absolute;
    top: 0;
    left: 0;
}

main > div.main_top > aside ul.b_banner > li:first-of-type {
    z-index: 100;
}

main > div.main_top > aside ul.bullet {
    z-index: 200;
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    width: 100%;
    text-align: center;

}

main > div.main_top > aside ul.bullet > li {
    display: inline-block;
}

main > div.main_top > aside ul.bullet > li img {
    width: 2rem;
    height: 2rem;
}

main > div.main_top > aside ul.play {
    z-index: 300;
    position: absolute;
    bottom: 2rem;
    right: 1.2rem;
}

main > div.main_top > aside ul.play > li img {
    width: 2rem;
    height: 2rem;
}



/*메인 상단오른쪽배너 개별사항--------------------*/

main > div.main_top > section.right {
    float: left;
}

main > div.main_top > section.right > dl:last-child {

    float: left;
    margin: ;
    padding: ;
    width: 27rem;
    height: 22.3rem;
}


main > div.main_top > section.right > dl:nth-of-type(1) {
    background: url(../imgs/m_box_bg05_1.gif) no-repeat 0 0;
}

main > div.main_top > section.right > dl:nth-of-type(2) {
    background: url(../imgs/m_box_bg06.gif) no-repeat 0 0;
}

main > div.main_top > section.right > dl:nth-of-type(3) {
    height: 20.2rem;
    padding: 2.2rem 0 0 0;
    background: url(../imgs/m_box_bg07.gif) no-repeat 0 0;
    text-align: center;

}

main > div.main_top > section.right > dl:nth-of-type(3) > dd:nth-child(3) {
    margin-top: 1rem;
}

main > div.main_top > section.right > dl:nth-of-type(3) > dd > a:first-child {
    margin-right: 1rem;
}

main > div.main_top > section.right > dl:nth-of-type(3) > dd > a:last-child {
    margin-left: 1rem;
}


/*메인 바텀 공통사항--------------------*/

main div.main_bottom {
    overflow: hidden;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

main > div.main_bottom > section {
    position: relative;
    box-sizing: border-box;
    padding: 2.6rem 2.2rem 0 3rem;
    width: 49.3rem;
    height: 22.3rem;
    margin-right: 1.3rem;
}

main > div.main_bottom > section > h1 {

    margin: ;

    font-size: 1.8rem;
}

main > div.main_bottom section ul {
    height: ;
    padding: 3.1rem 0 0 12rem;
    font-size: 1.1rem;

}

main > div.main_bottom section ul li {
    position: relative;
    height: 2.4rem;
    line-height: 2.4rem;

}

main > div.main_bottom section ul li:before {
    position: absolute;
    left: 0;
    top: 1rem;
    content: "";
    width: 0;
    height: 0;
    border: 1px solid #c7c7c7;

}

main > div.main_bottom section ul li a {
    float: left;
    margin-left: 1rem;
    width: 17rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
}

main > div.main_bottom > section > ul li time {
    float: right;

}

main > div.main_bottom > section > p {
    position: absolute;
    top: 2.1rem;
    right: 2.6rem;
}

main > div.main_bottom > section > p > img {
    width: 2.3rem;
    height: 2.3rem;
}


/*메인 바텀 개별사항--------------------*/

main > div.main_bottom > section.notice {
    float: left;
    background: url(../imgs/m_box_bg11.gif) no-repeat 0 0;
}

main > div.main_bottom > section.file {
    float: left;
    background: url(../imgs/m_box_bg12.gif) no-repeat 0 0;
}

/*푸터--------------------*/

footer {
    clear: both;
    border-top: 0.1rem solid #cdcdcd;
}

footer a {
    color: #444444;
}

footer > div.footer01 {
    overflow: hidden;
    width: 111rem;
    margin: 0 auto;
    padding-top: 3rem;

}

footer > div.footer01 > p.first {
    float: left;
    margin-left: 9.6rem;

}

footer > div.footer01 > p.first > a {}

footer > div.footer01 > p.first > a > img {}

footer > div.footer01 div.middle {
    float: left;
    margin-left: 3.6rem;
}

footer > div.footer01 div.middle > dl {
    overflow: hidden;
}

footer > div.footer01 div.middle > dl dd {
    position: relative;
    float: left;
    font-size: 1.2rem;
    line-height: 4rem;
    padding: 0 1rem;
    letter-spacing: -0.1rem;
}

footer > div.footer01 div.middle > dl dd:not(:last-child):after {
    position: absolute;
    content: "";
    top: 1.5rem;
    right: -1.1rem;
    margin-right: 1rem;
    width: 0; height: 1.1rem;
    border-left: 0.1rem solid #c9c9c9;
}

footer > div.footer01 div.middle > address {
    padding: 0 1rem;
}

footer > div.footer01 div.middle > address p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #666666;
}

footer > div.footer01 p.second {
    float: left;
    margin-left: 0.6rem;
    margin-right: 0.7rem;
    width: 10rem;
}

footer > div.footer01 p.second > a {}

footer > div.footer01 p.second > a > img {
    width: 10rem;
    height: 6.5rem;
}

footer > div.footer01 p.third {
    float: left;
}

footer > div.footer01 p.third > a {}

footer > div.footer01 p.third > a > img {
    width: 13.3rem;
    height: 6.5rem;
}